.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .row {
    display: contents;
  }
  
  .header {
    font-weight: bold;
  }
  
  .col {
    margin-bottom: 10px;
  }